{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row align-content-center" style="height:100%;">
        <div class=" col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Please sign in</h5>
                    <div class="card-text">
                        <form action="{{ path_for('auth.login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" name="username" class="form-control{{ errors.username ? ' is-invalid' : '' }}" value="{{ oldinputs.username }}" placeholder=" Username" required autofocus>
                                {% if errors.username %}
                                    <div class=" invalid-feedback">
                                        {{ errors.username | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" value="{{ oldinputs.password }}" placeholder="Password" required>
                                {% if errors.password %}
                                    <div class="invalid-feedback">
                                        {{ errors.password | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                            {{ csrf.field | raw  }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
