<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">ZOHO CRM API</h5>

    {% if auth.check %}
        <nav class="my-2 my-md-0 mr-md-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="{{ path_for('accounts') }}">List</a>
                        <a class="dropdown-item" href="{{ path_for('accounts.create') }}">New</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="zohoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zoho API</a>
                    <div class="dropdown-menu" aria-labelledby="zohoDropdown">
                        <a class="dropdown-item" href="{{ path_for('api.zoho.setup-credentials') }}">Setup Credentials</a>
                        <a class="dropdown-item" href="{{ path_for('api.zoho.self-client') }}">Self Client Setup</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('api.logs') }}">Logs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="avatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ auth.user.fullname }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="avatarDropdown">
                        <a class="dropdown-item" href="{{ path_for('accounts.edit') }}/{{ auth.user.id }}">Account</a>
                        <a class="dropdown-item" href="{{ path_for('auth.password.change') }}/{{ auth.user.id }}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('auth.logout') }}">Logout</a>
                    </div>
                </li>
            </nav>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path_for('auth.login') }}">Sign in</a>
        {% endif %}
    </div>
