{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row align-content-center" style="height:100%;">
        <div class=" col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New Token</h5>
                    <div class="card-text">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" value="{{ token }}" aria-label="Token" aria-describedby="button-copy" id="token">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-copy" onclick="copyToken()">Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">URLs</h5>
                    <div class="card-text">
                        <h6>Production URL</h6>
                        <pre>https://{{ domain }}/v2/leads?consumer={{ id }}&apikey={{ token }}&sandbox=false</pre>
                        <h6>Sandbox URL</h6>
                        <pre>https://{{ domain }}/v2/leads?consumer={{ id }}&apikey={{ token }}&sandbox=true</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function copyToken() {

            var copyText = document.getElementById("token");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("The token has been copied to your clipboard");
        }
    </script>
{% endblock %}
