{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h1>ZOHO Self Client Token Setup</h1>
            <p>First go to your
                <a href="https://accounts.zoho.com/developerconsole" target="_blank">Zoho Developer Console</a>.</p>
            <p>Find the credentials setup and placed in this server configuration. Then on the righthand side find the three dots and select
                <strong>Self Client</strong>
            </p>
            <p>In the panel you will want to place the following scopes
                <code>Aaaserver.profile.Read,ZohoCRM.modules.leads.ALL</code>
                and then click
                <strong>View Code</strong>.</p>
            <p>Copy the code it displays into the box below and click
                <strong>Submit</strong>
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <form action="{{ path_for('api.zoho.self-client') }}" method="post">
                            <div class="form-group">
                                <input type="password" name="token" id="token" class="form-control{{ errors.token ? ' is-invalid' : '' }}" value="{{ oldinputs.token }}" placeholder="New token">
                                {% if errors.token %}
                                    <div class="invalid-feedback">
                                        {{ errors.token | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            {{ csrf.field | raw  }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
