{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
            <h1>ZOHO Setup Credentials</h1>
            <p>First go to your
                <a href="https://accounts.zoho.com/developerconsole" target="_blank">Zoho Developer Console</a>.</p>
            <p>Click on the button
                <strong>Add Client ID</strong>
            </p>
            <p>
                <strong>Client Name:</strong>
                Provide a name that will help you remember the credentials in case you have more than one application with credentials to your API.
            </p>
            <p>
                <strong>Client Domain:</strong>
                Don't worry too much about Client Domain. Since this application uses Self Client for OAuth token generation this field is not important but still required to move forward.
            </p>
            <p>
                <strong>Authorized Redirect URIs:</strong>
                Don't worry too much about Client Domain. Since this application uses Self Client for OAuth token generation this field is not important but still required to move forward.
            </p>
            <p>
                <strong>Client Type:</strong>
                Choose
                <strong>Web Based</strong>
            </p>
            <p>Click
                <strong>Create</strong>
                button</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <form action="{{ path_for('api.zoho.setup-credentials') }}" method="post">
                            <div class="form-group">
                                <label for="client_id">Client ID</label>
                                <input type="password" name="client_id" id="client_id" class="form-control{{ errors.client_id ? ' is-invalid' : '' }}" value="{{ oldinputs.client_id }}" placeholder="1000.V5AS8YI8KN2F88303VPNAM3TISN0AH">
                                {% if errors.client_id %}
                                    <div class="invalid-feedback">
                                        {{ errors.client_id | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="client_secret">Client Secret</label>
                                <input type="password" name="client_secret" id="client_secret" class="form-control{{ errors.client_secret ? ' is-invalid' : '' }}" value="{{ oldinputs.client_secret }}" placeholder="f654269aae92041b02a35e02770a91978951c9932b">
                                {% if errors.client_secret %}
                                    <div class="invalid-feedback">
                                        {{ errors.client_secret | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="redirect_uri">Redirect URI</label>
                                <input type="url" name="redirect_uri" id="redirect_uri" class="form-control{{ errors.redirect_uri ? ' is-invalid' : '' }}" value="{{ oldinputs.redirect_uri }}" placeholder="https://api.domain.com">
                                {% if errors.redirect_uri %}
                                    <div class="invalid-feedback">
                                        {{ errors.redirect_uri | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="current_user_email">Current User Email</label>
                                <input type="email" name="current_user_email" id="current_user_email" class="form-control{{ errors.current_user_email ? ' is-invalid' : '' }}" value="{{ oldinputs.current_user_email }}" placeholder="support@domain.com">
                                {% if errors.current_user_email %}
                                    <div class="invalid-feedback">
                                        {{ errors.current_user_email | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            {{ csrf.field | raw  }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
