{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row align-content-center" style="height:100%;">
        <div class=" col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <div class="card-text">
                        <form
                            action="{{ path_for('auth.password.change') }}" method="post">
                            {# <div class="form-group">
                                                            <label for="password_old">Current password</label>
                                                            <input type="password" name="password_old" id="password_old" class="form-control{{ errors.password_old ? ' is-invalid' : '' }}" value="{{ oldinputs.password_old }}" placeholder="Current password">
                                                            {% if errors.password_old %}
                                                                <div class="invalid-feedback">
                                                                    {{ errors.password_old | first }}
                                                                </div>
                                                            {% endif %}
                                                        </div> #}
                            <div class="form-group">
                                <label for="password">New password</label>
                                <input type="password" name="password" id="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" value="{{ oldinputs.password }}" placeholder="New password">
                                {% if errors.password %}
                                    <div class="invalid-feedback">
                                        {{ errors.password | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <input type="hidden" name="id" value="{{ id }}">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>

                            {{ csrf.field | raw  }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
