{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <h1>Accounts</h1>
    </div>

    <div class="row">
        <a class="btn btn-primary" href="{{ path_for('accounts.create') }}" role="button">Create New Account</a>
    </div>

    <div class="row mt-2">

        <table class="table table-dark table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Password</th>
                    <th scope="col">Token</th>
                    <th scope="col">Access</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% for account in accounts %}
                    <tr>
                        <th scope="row">{{ account.id }}</th>
                        <td>{{ account.fullname }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.state }}</td>
                        <td>
                            <a href="{{ path_for('auth.password.change') }}/{{ account.id }}">Change</a>
                        </td>
                        <td>
                            <form action="{{ path_for('api.zoho.regenerate') }}/{{ account.id }}" method="post">
                                <button type="submit" class="btn btn-primary">Regenerate</button>
                            </form>
                        </td>
                        <td>{{ account.access | json_encode }}</td>
                        <td>
                            <a href="{{ path_for('accounts.edit') }}/{{ account.id }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
