{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <h1>API Instructions</h1>
    </div>
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/api-docs.html"></iframe>
        </div>
    </div>


{% endblock %}
